NODE_ENV=development
PORT=5000
SERVICE_NAME=mission-service
STATION=Air
MONGO_ADDRESS= <ADDRESS>
MONGO_USERNAME= <USERNAME>
MONGO_PASSWORD= <PASSWORD>
REDIS_HOST=localhost
REDIS_PORT=<REDIS_PORT>
LOG_LEVEL=info
